*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Roboto", sans-serif !important;
	position: relative;
	overflow: hidden;
	background-color: #162527;
	min-height: 70vh;
	color: #eff4f5 !important;
}
.title,
.subtitle {
	color: #162527;
}

.is-black {
	background-color: #162527 !important;
}
/****nav bar********/
.nav_title {
	position: relative;
	margin-right: 30px;
	cursor: pointer;
}
.nav_title span {
	color: #162527;
	font-size: 20px;
	transition: 0.3s;
	font-weight: 500;
	will-change: transform;
	display: inline-block;
	text-decoration: double;
}

.s1 span {
	transform-origin: bottom;
}
.s2 span {
	transform-origin: top;
	transform: translateY(100%) rotateX(-90deg);
}
.s2 {
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s;
}
nav {
	transition: all 0.5s;
}
.nav_title:hover .s1 span {
	transform: translateY(-100%) rotateX(-90deg);
}
.nav_title:hover .s2 span {
	transform: translateY(0%) rotateX(0deg);
	color: grey;
}

.nav-button .s2 {
	left: 15px !important;
	top: 5px !important;
}
.nav-button span {
	color: #eff4f5;
}
.nav-button:hover .s2 span {
	color: rgb(255, 255, 255);
}
.navbar-start {
	display: none;
}
.has-nabarItem-active {
	color: grey !important;
}

@media all and (max-width: 1023px) {
	.anim-items {
		display: none;
	}
	.navbar-start {
		display: block;
	}
	.navbar-menu {
		display: block !important;
		height: 0 !important;
		transition: all 0.5s !important;
		padding: 0 !important;
	}
	.navbar-menu.is-active {
		height: 200px !important;
		padding: 0.5rem 0 !important;
	}
	.navbar-burger {
		color: #fff !important;
	}
}

/******************/
.footer_own {
	width: 100%;
	height: 140px;
	color: #eff4f5;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #f1f1f11c;
}
.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.icons span a i {
	color: #eff4f5;
	margin: 20px;
	font-size: 25px;
	transition: all 0.3s;
}
.icons span a i:hover {
	color: grey;
}

.box {
	background-color: #f1f1f1 !important;
	color: #162527 !important;
}

.box .p {
	color: #162527 !important;
}

img {
	border-radius: 10px;
}

/******************Mart01.html************/
.side .title,
.subtitle {
	color: #eff4f5;
}

.side {
	min-height: 40vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 25px;
}
.side1 {
	flex-direction: column;
}
.side1 .info {
	font-size: 20px;
	width: 60%;
}

.half_side {
	width: 47%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.side2 {
	background-color: #f1f1f1;
}
.title_inverted {
	color: #162527 !important;
}

.side2 .info {
	font-size: 17px;
}

.img-own {
	max-width: 300px;
}

.box-is-black {
	padding: 25px;
	border: solid 1px #f1f1f136;
	border-radius: 10px;
}

@media all and (max-width: 900px) {
	.side1 .info {
		width: 80%;
	}
}
@media all and (max-width: 600px) {
	.side1 .info,
	.side2 .info {
		width: 100%;
		font-size: unset;
	}
	.half_side {
		width: 100%;
		padding: 10px;
	}
}
