.home {
	height: calc(100vh - 52px);
	display: flex;
	flex-wrap: wrap;
}

.home-container {
	width: 50%;
	height: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home_left {
	background-image: url("../img/bgHome/NYC.jpg");
	background-size: cover;
	background-position: top center;
}
.home_right {
	position: relative;
	padding-bottom: 20px;
}
.home_right p {
	width: 80%;
	font-size: 20px;
	color: #eff4f5 !important;
	text-align: justify;
}
.home_link {
	position: absolute;
	bottom: 20%;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #eff4f5;
}

.home_link i {
	font-size: 25px;
	color: #eff4f5;
	margin: 20px;
	transition: all 0.3s;
}
.home_link i:hover {
	color: grey;
}

.home_link p {
	font-size: 15px;
}

@media all and (max-width: 600px) {
	.home-container {
		width: 100%;
		height: 50%;
	}
	.home_link {
		bottom: 20px;
	}
	.home_right p {
		height: 65%;
	}
}
@media all and (max-width: 490px) {
	.home_right p {
		font-size: 18px;
	}

	.home_right p {
		height: 80%;
	}
	.home_link p {
		font-size: 11px;
	}
}
@media all and (max-width: 350px) {
	.home_right p {
		font-size: 16px;
	}
	.home_link i {
		font-size: 17px;
	}
	.home_right p {
		height: 80%;
	}
	.home_link p {
		font-size: 11px;
	}
}

@media all and (max-height: 900px) {
	.home_link {
		bottom: 15%;
	}
}
